@{
    ViewBag.Title = "About";
}

<link rel="stylesheet" href="~/Content/styles/about.css">

<div class="content-wrapper">
    <div class="portfolio-items-wrapper">

        <div class="portfolio-item-wrapper">
            <div class="portfolio-img-background" style="background-image:url(/Content/images/portfolio1.jpg)"></div>

            <div class="img-text-wrapper">
                <div class="logo-wrapper">
                    <img src="/Content/images/logos/edutechional.png" alt="">
                </div>

                <div class="subtitle">Я прошел средний уровень подготовки программирования на языках Java, C#, SQL, JavaScript и Assembly. Владею их базисными синтаксисами.</div>
            </div>
        </div>

        <div class="portfolio-item-wrapper">
            <div class="portfolio-img-background" style="background-image:url(/Content/images/portfolio2.jpg)"></div>
            <div class="img-text-wrapper">
                <div class="logo-wrapper">
                    <img src="/Content/images/logos/devcamp.png" alt="">
                </div>

                <div class="subtitle">Написал макет информационной системы домоуправления на языке Java.</div>
            </div>
        </div>

        <div class="portfolio-item-wrapper">
            <div class="portfolio-img-background" style="background-image:url(/Content/images/portfolio3.jpg)"></div>
            <div class="img-text-wrapper">
                <div class="logo-wrapper">
                    <img src="/Content/images/logos/eclipse.png" alt="">
                </div>

                <div class="subtitle">
                    Eclipse IDE — это среда разработки преимущественно предназначенная для программирования на Java. Имеет широкий набор пакетов и модулей.
                </div>
            </div>
        </div>

        <div class="portfolio-item-wrapper">
            <div class="portfolio-img-background" style="background-image:url(/Content/images/portfolio4.jpg)"></div>
            <div class="img-text-wrapper">
                <div class="logo-wrapper">
                    <img src="/Content/images/logos/intellij.png" alt="">
                </div>

                <div class="subtitle">
                    IntelliJ IDEA — среда разработки для многих программных языков, в том числе Java, C#, JavaScript и другие.
                </div>
            </div>
        </div>

        <div class="portfolio-item-wrapper">
            <div class="portfolio-img-background" style="background-image:url(/Content/images/portfolio5.jpg)"></div>
            <div class="img-text-wrapper">
                <div class="logo-wrapper">
                    <img src="/Content/images/logos/sql2.png" alt="">
                </div>

                <div class="subtitle">MySQL Workbench предоставляет возможность проектирования баз данных, поключения и дальнейшей работы с ними.</div>
            </div>
        </div>

        <div class="portfolio-item-wrapper">
            <div class="portfolio-img-background" style="background-image:url(/Content/images/portfolio6.jpg)"></div>
            <div class="img-text-wrapper">
                <div class="logo-wrapper">
                    <img src="/Content/images/logos/denwer.png" alt="">
                </div>

                <div class="subtitle">Также для наглядного построения базы данных удобно использовать Denwer.</div>
            </div>
        </div>

        <div class="portfolio-item-wrapper">
            <div class="portfolio-img-background" style="background-image:url(/Content/images/portfolio7.jpg)"></div>
            <div class="img-text-wrapper">
                <div class="logo-wrapper">
                    <img src="/Content/images/logos/mathcad.png" alt="">
                </div>

                <div class="subtitle">
                    Если Вам нужно сконструировать математическую модель, соответствующие формулы и графики, а также произвести сложные вычисления, то в этом Вам поможет Mathcad.
                </div>
            </div>
        </div>

        <div class="portfolio-item-wrapper">
            <div class="portfolio-img-background" style="background-image:url(/Content/images/portfolio8.jpg)"></div>
            <div class="img-text-wrapper">
                <div class="logo-wrapper">
                    <img src="/Content/images/logos/vs.png" alt="">
                </div>

                <div class="subtitle">Для программирования на C# я использую среду Visual Studio 2019. В нем был написан этот сайт.</div>
            </div>
        </div>

        <div class="portfolio-item-wrapper">
            <div class="portfolio-img-background" style="background-image:url(/Content/images/portfolio9.jpg)"></div>
            <div class="img-text-wrapper">
                <div class="logo-wrapper">
                    <img src="/Content/images/logos/vsc.png" alt="">
                </div>

                <div class="subtitle">Visual Studio Code очень удобен для проектирования веб-страниц и сайтов.</div>
            </div>
        </div>

        <div class="portfolio-item-wrapper">
            <div class="portfolio-img-background" style="background-image:url(/Content/images/portfolio10.jpg)"></div>
            <div class="img-text-wrapper">
                <div class="logo-wrapper">
                    <img src="/Content/images/logos/schema.png" alt="">
                </div>

                <div class="subtitle">Нужно простроить схемы для демонстрации работы проекта? BOUML — отличное решение.</div>
            </div>
        </div>

        <div class="portfolio-item-wrapper">
            <div class="portfolio-img-background" style="background-image:url(/Content/images/portfolio11.jpg)"></div>
            <div class="img-text-wrapper">
                <div class="logo-wrapper">
                    <img src="/Content/images/logos/github.png" alt="">
                </div>

                <div class="subtitle">GitHub — ресурс для хранения проектов, контроля версий, общения и обмена опытом.</div>
            </div>
        </div>

        <div class="portfolio-item-wrapper">
            <div class="portfolio-img-background" style="background-image:url(/Content/images/portfolio12.jpg)"></div>
            <div class="img-text-wrapper">
                <div class="logo-wrapper">
                    <img src="/Content/images/logos/drill.png" alt="">
                </div>

                <div class="subtitle">Схематичное изображение эскизов деталей достигаемо с помощью такого инструмента как Компас-3D. SCADA Simp Light удобен для проектирования и мониторинга систем.</div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/about.js")