@{
    ViewBag.Title = "Home";
}

<link rel="stylesheet" href="~/Content/styles/home.css">
<div class="content-wrapper">
    <div class="links-wrapper">
        <div class="links-container">
            <div id="links-title">Полезные ссылки</div>
            <div class="vk"><a href="https://vk.com">ВК</a></div>
            <div class="telegram"><a href="https://telegram.org">Telegram</a></div>
            <div class="youtube"><a href="https://www.youtube.com">YouTube</a></div>
            <div class="instagram"><a href="https://www.instagram.com">Instagram</a></div>
            <div class="github"><a href="https://github.com">GitHub</a></div>
            <div class="narfu"><a href="https://narfu.ru">САФУ сайт</a></div>
            <div class="schedule"><a href="https://ruz.narfu.ru/?timetable&group=11892">САФУ расписание</a></div>
            <div class="sakai"><a href="https://sakai.pomorsu.ru">Sakai</a></div>
            <div class="htmlacademy"><a href="https://htmlacademy.ru">HTML Academy</a></div>
            <div class="translate"><a href="https://translate.google.ru">Google Translate</a></div>
            <div class="wikipedia"><a href="https://ru.wikipedia.org">Wikipedia</a></div>
            <div class="lurkmore"><a href="https://lurkmore.to">Луркоморье</a></div>
            <div class="gmail"><a href="https://mail.google.com">Gmail</a></div>
            <div class="sberbank"><a href="https://online.sberbank.ru">Сбербанк</a></div>
            <div class="academic"><a href="https://dic.academic.ru">Академик</a></div>
            <div class="codingame"><a href="https://www.codingame.com">CodinGame</a></div>
            <div class="lastfm"><a href="https://www.last.fm">Last.fm</a></div>
            <div class="law-rf"><a href="https://sozd.duma.gov.ru/event_report_calendar">Законопроекты РФ</a></div>
        </div>
    </div>
    <div class="ny">
        <div id="ny"></div>
    </div>
</div>

@Scripts.Render("~/Scripts/index.js")